@import "../scss/variables";

.wp-block-scbc-spoiler {
	padding-top: 45px;
	padding-bottom: 45px;

	&__toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		appearance: none;
		background-color: map-get( $colors, gray-200 );
		border: 0;
		margin: 0;
		padding: ( $base-spacing / 2 );
		z-index: 10;
		transition: height 200ms ease, width 200ms ease;

		&.is-revealed {
			height: 45px;
			width: 130px;
		}
	}

	&__toggle-text {
		font-size: 0.8em;
		font-weight: bold;
		margin-left: 4px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&__wrapper {
		display: none;

		&.is-revealed {
			display: block;
		}
	}
}
